the required libraries for the Project:
Pandas, numpy, matplotlib, seaborn, sklearn, sqllite, folium

we specify for every library for which Purpose is used
and which other requirements needed

I have to add any spec for the analysis and details to the data used

steps: 
- install the needed library
- run the create_complete_database in order to create the complete database for the analysis (we can simply in the future when we want include new years  2024...)
- the generated database is stored locally because it is ignored by commit (too large)
- python storing_mess_data_auto.py ( to store Messdaten Auto)
- python export_Data.py to generate only the needed informations (csv file) without Bezirk...
